<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dudu.dictation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".AnswerActivity"
            android:exported="false" />
        <activity
            android:name=".EasterEggActivity"
            android:exported="false" />
        <activity
            android:name=".SetBroadcastIntervalActivity"
            android:exported="false"
            android:theme="@style/SwipeToDisDisabled" />
        <activity
            android:name=".SetLoopTimesActivity"
            android:exported="false"
            android:theme="@style/SwipeToDisDisabled" />
        <activity
            android:name=".MoreOptionsActivity"
            android:exported="false"
            android:theme="@style/NoAnimationAndSwipeToDisDisabledTheme" />
        <activity
            android:name=".InputWordsActivity"
            android:exported="false"
            android:theme="@style/SwipeToDisDisabled" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".SetNameActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".PlayActivity"
            android:theme="@style/SwipeToDisDisabled" />
        <activity android:name=".FinishedPlayActivity" /> <!-- 网络监听的广播接收者 -->
        <receiver
            android:name=".NetWorkChangeBroadcastReceiver"
            android:exported="false"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" /> <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="ffe439d983" /> <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0-release" /> <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="1.0" /> <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
    </application>

</manifest>